html, body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  flex-direction: column;
}
.activated {
  background-color: darkcyan;
}
.button {
  width: 4em;
  height: 2em;
  background-color: blueviolet;
  color: yellow;
  margin: 0 0.1em;
}